.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 98%;
  gap: 10px;
  @media (min-width: 1201px) {
    grid-template-columns: 23% 75%;
    gap: 20px;
  }
  @media (max-width: 1110px) {
    grid-template-columns: 23% 75%;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 1110px) {
    grid-template-columns: 1fr;
    width: 98%;
    gap: 40px;
  }
}

.grid {
  display: grid;
  align-items: flex-start;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }
}

.description {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}
